body {
    background: #67be4b;
 }
 #container {
    width: 400px;
    margin: 0 auto;
    margin-top: 5%;
 }
 /* Bordered form */
 form {
    position: relative;
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 }
 #container h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
 }
 
 /* Full-width inputs */
 input[type="text"],
 input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
 }
 
 /* Set a style for all buttons */
 input[type="submit"] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
 }
 input[type="submit"]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
 }
 .bloc-success {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
 }
 
 .bloc-success p {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
 }
 .bloc-success .button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
       border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
 }
 