body{
min-width: 100vw;
min-height: 100vh;
display:flex;
justify-content: center;
align-items: center;
background: blue;
}

.card{
width: 620px;
height: 610px;
border-radius: 5%;    
}

.card-title{
position: relative;
left: 50px;    
}

.card-img-top{
width: 290px;
height: 270px; 
object-fit: cover; 
position: relative;
left: 50px;      
}

.row{
position: relative;
left: 15px;       
}

.second{
position: relative;
right: 20px;        
}

textarea{
height: 100px;
}